<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Bug Tracker </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fonts file -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
            rel="stylesheet">
        <!-- bootstrap file -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- css file -->
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <style>
            .navbar-nav .nav-link {
                color: white; /* Set the text color to white */
            }
        </style>

        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/bugs/all">All bugs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                                href="/bugs/bug-form">New bug</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/all">Users</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </body>

</html>
